.items-section {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  
  .item-container {
    margin: 15px 0;
  }
  
  .item-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .item-bar {
    background-color: #e0e0e0; /* Background color for the item bar */
    border-radius: 20px;
    width: 100%;
    height: 25px;
    position: relative;
    overflow: hidden;
  }
  
  .item-level {
    background-color:#546a03; 
    /* background-color: #4caf50;  */
    height: 100%;
    color: white;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    border-radius: 20px;
    transition: width 0.3s ease-in-out;
  }

  .other-skills-list {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of skills if they overflow */
    gap: 10px;
    padding: 0;
}

.other-skills-list li {
    background-color: #c8ff00;
    color: #333;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    white-space: nowrap; /* Prevents the text from breaking to the next line */
}

